<input type="text" id='bb_input' class="form-control" [(ngModel)]="zip" placeholder="Enter a zipcode">
<button (click)="getWeather()" class="btn btn-dark"> Submit </button>
<br>
<br>
<div class="w_details">

<div id="w_name">{{weather?.name}}</div>
<div id="w_date_time">{{fDate}}</div>
<div id="w_weather">{{weather?.weather[0].main}}</div>
<div id="w_wind">Wind Speed: {{weather?.wind.speed}}mph</div><br>
<div id="w_hum">Humidity: {{weather?.main.humidity}}%</div><br>
<div id="w_temp">Temprature: {{weather?.main.temp}}</div><br>
</div>